body {
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  width: 12rem;
  border: 1px solid gainsboro;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: inherit;
  display: flex;
  flex-direction: column;
}

button {
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: #e0e0e0;
  border: 1px solid gainsboro;
  flex: 1;
  cursor: pointer;
}

button:hover {
  background-color: whitesmoke;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.display {
  padding: 1rem;
  justify-content: end;
  border-radius: 0.2rem;
  cursor: pointer;
  display: flex;
  color: white;
  border: 1px solid gainsboro;
  background-color: #858693;
}

.zero {
  flex: 2;
}

.yellow {
  background-color: #f39148;
}
